<div class="container2">
  <img class="picture3" src="<%="/cafe_images/#{@list.image_name}"%>" alt="写真" align="middle">
  <div class="show-name2"><%= @list.name %></div>
  <div class="show-pref"><%= @areas[@list.area_id - 1].prefecture %></div>
  <div class="show-time"><%= @list.created_at %></div>
  <img class="picture4" src="<%="/user_images/#{@user.image_name}"%>">
  <div class="show-name"><%= link_to(@list.user.name, "/users/#{@list.user_id}") %></div>


    <% if @current_user %>
      <span class="like2">
        <% if Like.find_by(user_id: @current_user.id, list_id: @list.id) %>
          <%= link_to("/likes/#{@list.id}/2/0/destroy", {method: "post"}) do %>
            <span class="fa fa-heart like-btn-unlike"></span>
          <% end %>
        <% else %>
          <%= link_to("/likes/#{@list.id}/2/0/create", {method: "post"}) do %>
            <span class="fa fa-heart like-btn"></span>
          <% end %>
        <% end %>
        <%= @likes_count %>
      </span>

      <% if @list.user_id == @current_user.id %>
        <a class="show-edit" href="<%="/home/#{@list.id}/edit"%>">編集</a>
      <% end %>

    <% else %>
      <span class="like2">
        <span class="fa fa-heart like-btn"></span>
        <%= @likes_count %>
      </span>
    <% end %>
</div>
