<div class="container">
  <% @lists.each do |list| %>
    <div class="posts-index-item">
      <img class="picture" src="<%="/cafe_images/#{list.image_name}"%>" alt="写真" align="middle">
      <a  class="cafe-name" href="<%="/home/#{list.id}/show"%>"><%= list.name %></a>
      <span class="pref">
        <%= @areas[list.area_id - 1].prefecture %>
      </span>
      <span class="user">
        <img class="user-left2" src="<%="/user_images/#{list.user.image_name}"%>">
        <%= link_to(list.user.name, "/users/#{list.user.id}") %>
      </span>
      <span class="like">
        <% if @current_user %>
          <% if Like.find_by(user_id: @current_user.id, list_id: list.id) %>
            <%= link_to("/likes/#{list.id}/6/0/destroy", {method: "post"}) do %>
              <span class="fa fa-heart like-btn-unlike"></span>
            <% end %>
          <% else %>
            <%= link_to("/likes/#{list.id}/6/0/create", {method: "post"}) do %>
              <span class="fa fa-heart like-btn"></span>
            <% end %>
          <% end %>
          <%= @likes_count = Like.where(list_id: list.id).count %>
        <% else %>
          <span class="fa fa-heart like-btn"></span>
          <%= @likes_count = Like.where(list_id: list.id).count %>
        <% end %>
       </span>
     </div>
    <% end %>
  </div>
