<br>
<% @user.errors.full_messages.each do |message| %>
  <div class="form-error">
    <%= message %>
  </div>
<% end %>

<div class="new-body">
  <div class="users-heading">ユーザー情報の編集</div>
  <%= form_tag("/users/#{@user.id}/update", {multipart: true}) do %>
    <div>ユーザー名</div>
    <div class="new-textarea2">
      <input class="new-textarea" value="<%= @user.name %>" name="name">
    </div>
    <div>画像</div>
    <div class="edit-image2">
      <input class="edit-image" name="image" type="file">
    </div>
    <div>メールアドレス</div>
    <div class="new-textarea2">
      <input class="new-textarea" value="<%= @user.email %>" name="email">
    </div>
    <div>パスワード</div>
    <div class="new-textarea2">
      <input class="new-textarea" value="<%= @user.password %>" name="password" type="password">
    </div>

    <div class="edit-storage">
      <input class="edit-storage2" type="submit" value="保存">

    </div>
  <% end %>
</div>

<%= form_tag("/users/#{@user.id}/destroy") do %>
    <input class="edit-delete" type="submit" value="ユーザー削除">
<% end %>
